
<div class="container-fluid">
  <h1>Template Driven Form</h1>
  <form #formValues="ngForm">

    {{formValues.value | json}} <hr/>

    {{userData | json}}

    <div class="form-group">
      <label>Name</label>
       <!-- here we have applied validation control by observing the state change of the form control field, along with visual feedback -->
      <input type="text" #name="ngModel" class="form-control" name="name" 
      [class.is-invalid]="name.invalid && name.touched"
      required [(ngModel)]="userData.name">
       <!-- displaying the error messages as well with visual feedback -->
       <small class="text-danger" [class.d-none]="name.valid || name.untouched">name is required</small>
    </div>
    {{name.valid}}

    <div class="form-group">
      <label>Email</label>
      <input type="email" class="form-control" name="email" [(ngModel)]="userData.email">
    </div>

    <div class="form-group">
      <label>Phone</label>
      <!-- here we have applied validation control by observing the state change of the form control field, along with visual feedback -->
      <input type="tel" class="form-control" name="phone" #phone="ngModel"
      pattern="^\d{10}$" required
      [class.is-invalid]="phone.invalid && phone.touched"
      [(ngModel)]="userData.phone">
      <!-- displaying multiple conditioned error message with visual feedback -->
     <div *ngIf="phone.errors && (phone.invalid || phone.touched)">
        <small class="text-danger" *ngIf="phone.errors?.['pattern']">Phone number must be of 10 digits</small>
        <small class="text-danger" *ngIf="phone.errors?.['required']">Phone number is required</small>
     </div>
    </div>

    <div ngModelGroup="address" >
      <label  class="form-group-label">Address</label>
      <div class="form-group">
        <label  class="form-group-label">House Number</label>
        <input type="text" class="form-control" name="houseNo" [(ngModel)]="userData.address.houseNo">
      </div>
      <div class="form-group">
        <label  class="form-group-label">City</label>
        <input type="text" class="form-control" name="city" [(ngModel)]="userData.address.city">
      </div>
      <div class="form-group">
        <label  class="form-group-label">State</label>
        <input type="text" class="form-control" name="state" [(ngModel)]="userData.address.state">
      </div>
      <div class="form-group">
        <label  class="form-group-label">Postal Code</label>
        <input type="number" class="form-control" name="postalCode" [(ngModel)]="userData.address.postalCode">
      </div>
    </div>
<br>
    <div class="form-group">
      <select  (blur)="validateSelect(topic.value)" (change)="validateSelect(topic.value)" #topic="ngModel" class="form-control" name="interest" 
      [class.is-invalid]="isSelectInvalid && topic.touched"
      [(ngModel)]="userData.interest" >
     
        <option selected value="default">i am interested in...</option>
        <option *ngFor="let item of options" >{{item}}</option>
      </select>
      <small  class="text-danger" *ngIf="isSelectInvalid && topic.touched">please select an interest</small>
    </div>
    
    <div class="m-3">
      <label>Time Preferences</label>
      <div class="form-check">
        <input type="radio" class="form-check-input" name="timePreferences" value="morning" [(ngModel)]="userData.timePreferences">
        <label  class="form-check-label">Morning from 7AM to 1PM</label>
      </div>
      <div class="form-check">
        <input type="radio" class="form-check-input" name="timePreferences" value="evening" [(ngModel)]="userData.timePreferences">
        <label  class="form-check-label">Evening from 5PM to 9PM</label>
      </div>
    </div>

    <div class="form-check mb-3">
      <input type="checkbox" class="form-check-input" name="subscribe" [(ngModel)]="userData.subscribe">
      <label  class="form-check-label">send me promotions</label>
    </div>
    <button class="btn btn-primary">submit</button> 
  </form>
</div>